<nav
  class="bg-surface-container-lowest relative flex h-16 items-center gap-6 px-6 shadow-sm md:px-15 lg:px-25"
>
  <a routerLink="/" class="flex items-center gap-1">
    <aos-logo class="w-6" />
    <span class="text-primary font-bold">Agency OS</span>
  </a>

  <div class="text-on-surface-variant hidden items-center gap-6 text-sm font-medium md:flex">
    <a
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="text-primary after:w-full"
      class="hover:text-primary after:bg-primary relative py-1 transition-colors after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:transition-all after:duration-200 hover:after:w-full"
    >
      Features
    </a>

    <a
      routerLink="/how-it-works"
      routerLinkActive="text-primary after:w-full"
      class="hover:text-primary after:bg-primary relative py-1 transition-colors after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:transition-all after:duration-200 hover:after:w-full"
    >
      How It Works
    </a>
  </div>

  <div class="ml-auto hidden gap-1.5 lg:flex">
    <aos-button variant="outlined" href="https://github.com/Eyad-Sharkawy/agency-os-back-end">
      <aos-icons name="simpleGithub" class="size-6" />
      <span class="ml-2">View on Github</span>
    </aos-button>

    <aos-button variant="outlined">Login</aos-button>
    <aos-button variant="primary">Sign up</aos-button>
  </div>

  <aos-button
    variant="ghost"
    class="ml-auto size-8 lg:hidden"
    [aria-label]="isMenuOpen() ? 'Close navigation menu' : 'Open navigation menu'"
    [aria-expanded]="isMenuOpen() ? 'true' : 'false'"
    aria-controls="mobile-nav-menu"
    (click)="$event.stopPropagation(); toggleMenu()"
  >
    <aos-icons [name]="isMenuOpen() ? 'lucideX' : 'lucideMenu'" strokeWidth="1" />
  </aos-button>

  <aos-dropdown-menu [(isOpen)]="isMenuOpen" />
</nav>
